{{#each model as |timeline|}}
<li>{{link-to timeline.name 'entries' timeline}} <button {{action 'deleteTimeline' timeline}}>Delete</button></li>
{{else}}
No timelines
{{/each}}
<div>
  {{link-to 'New timeline' 'timelines.new'}}
</div>
